/* --------> Variables: */

:root {
    --font-x: 'Caveat', cursive;
    --font-header: 'Comfortaa', cursive;
    --font-main: 'Play', sans-serif;
}

/* --------> CSS reset: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: var(--font-main);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------> tbc */
body {
    height: 100vh;
    width: 100%;
}

.app_container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.form_container_wrapper {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.particles_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.x {
    font-family: var(--font-x);
    margin-right: 2.5px;
}

h1 .x {
    margin-right: 10px;
    font-size: 4rem;
}

h1 {
    font-family: var(--font-header);
    font-size: 4rem;
    width: 75%;
    text-align: center;
    margin: 10rem auto 0 auto;
}

#convert_text {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    margin: 1rem auto 5rem auto;
}

.button {
    font-family: var(--font-header);
}

.modal_title {
    font-family: var(--font-header);
}
/* ----------> Form grid layout: */
.form_grid {
    padding: 0 0.5rem;
    display: grid;
    grid-template-areas:
        'top top top top top top top'
        'left mid mid right right right right'
    ;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr)
}

.form_grid h3 {
    grid-area: top;
    font-size: 1.5rem;
    margin: 0.4rem 0 0.4rem 0;
}

.form_img {
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_grid input {
    grid-area: mid;
    margin-right: 0.5rem;

}

#currency_to_convert, #target_currency {
    grid-area: right;
}


/* we actually want to set up a grid for the form so the image takes up 1/5 of the space
and the input and select take up 2/5 each */

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_div img {
    width: 40px;
    height: 40px;
}